Same base as W3M ERC-20 token DONE

Whitelisting for accredited investors DONE

Whitelisting for non-accredited investors  DONE

Buying ONLY between whitelisted investors address DONE

Transference ONLY between whitelisted investors address  DONE

Issuance of at least 1 share/token DONE

Lockup of tokens in wallet from investor and issuer DONE

Account lock and release DONE Properties walletLockUpTime, isLockedByInvestor and isLockedByIssuer of investor data


Have a list of whitelisters DONE Via grantRole/renounceRole of AccessControl module

Add whitelister DONE Via grantRole/renounceRole of AccessControl module

Remove whitelister DONE Via grantRole/renounceRole of AccessControl module

Burn tokens from an account who owns the tokens and has the burner role granted

Ownership percentage restricted DONE Function tokenOwnershipUnderPercentageLimit

Pauser role: Bottom switch  DONE Via ERC20Pausable module



